* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  min-height: 100vh;
  position: relative;
  padding-bottom: 66px;
}

/*common */
.container {
  width: 100%;
  max-width: 1170px;
  padding: : 0 15px;
  margin: 0 auto;
}

header {
  background-color: #ffeb3b;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  color: #f57c01;
  margin-left: 15px;
  font-weight: bold;
}

.header-right {
  float: right;
  color: #f57c01;
  margin-right: 15px;
  font-weight: bold;
}

.header-btn:hover {
  cursor: pointer;
}

.clear {
  clear: left;
}

.loginform-wrapper {
  margin-top: 60px;
  text-align: center;
}

.loginform-wrapper p {
  margin-bottom: 0;
}

.heading {
  margin-top: 100px;
}

.label {
  margin-top: 16px;
}

.loginform {
  display: block;
  margin: 0 auto 16px auto;
  width: 40%;
  height: 25px;
  border: 1px solid black;
}

.signup {
  display: block;
  margin-bottom: 50px;
}

.btn {
  border: 1px solid black;
  padding: 10px 50px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
}

.login {
  background-color:  #ffeb3b;
}

.twitter {
  background-color:  #55acee;
  margin-right: 20px;
}

.facebook {
  background-color: #3B5998;
  margin-bottom: 100px;
}


footer {
  background-color: #ffeb3b;
  width: 100%;
  text-align: center;
  color: #f57c01;
  font-weight: bold;
  padding: 5px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

@media screen and (max-width:767px) {
  header p {
    font-size: 13px;
  }

  .btn {
    display: inline-block;
    width: 80%;
    font-size: 13px;
  }

  footer p {
    font-size: 13px;
  }

  .loginform {
    width: 90%;
  }

  
}